.cw-form-render {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  --form-item-padding: 12px;
  --form-margin-bottom: 12px;

  .cw-form-item {
    display: inline-block;
    width: var(--form-item-width);
    height: 30px;
    box-sizing: border-box;
    margin-bottom: var(--form-margin-bottom);
    vertical-align: top;
  }
  .el-form-item__label {
    padding-left: 8px;
  }
  .el-form-item__content {
    box-sizing: border-box;
    padding-right: var(--form-item-padding);
  }
}