@font-face {
  font-family: "iconfont"; /* Project id 4698240 */
  src: url('iconfont.woff2?t=1727447550882') format('woff2'),
       url('iconfont.woff?t=1727447550882') format('woff'),
       url('iconfont.ttf?t=1727447550882') format('truetype'),
       url('iconfont.svg?t=1727447550882#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-direction-down:before {
  content: "\e676";
}

.icon-direction-right:before {
  content: "\e677";
}

.icon-direction-up:before {
  content: "\e678";
}

.icon-discount:before {
  content: "\e679";
}

.icon-direction-left:before {
  content: "\e67a";
}

.icon-download:before {
  content: "\e67b";
}

.icon-drag:before {
  content: "\e67c";
}

.icon-elipsis:before {
  content: "\e67d";
}

.icon-email:before {
  content: "\e67e";
}

.icon-file-add:before {
  content: "\e67f";
}

.icon-fabulous:before {
  content: "\e680";
}

.icon-file:before {
  content: "\e681";
}

.icon-folder-close:before {
  content: "\e682";
}

.icon-filter:before {
  content: "\e683";
}

.icon-home:before {
  content: "\e684";
}

.icon-history:before {
  content: "\e685";
}

.icon-import:before {
  content: "\e686";
}

.icon-link:before {
  content: "\e687";
}

.icon-layout:before {
  content: "\e688";
}

.icon-fullscreen-shrink:before {
  content: "\e689";
}

.icon-layers:before {
  content: "\e68a";
}

.icon-lock:before {
  content: "\e68b";
}

.icon-fullscreen-expand:before {
  content: "\e68c";
}

.icon-loading:before {
  content: "\e68d";
}

.icon-help:before {
  content: "\e68e";
}

.icon-minus-circle:before {
  content: "\e68f";
}

.icon-modular:before {
  content: "\e690";
}

.icon-more:before {
  content: "\e691";
}

.icon-play:before {
  content: "\e692";
}

.icon-refresh:before {
  content: "\e693";
}

.icon-picture:before {
  content: "\e694";
}

.icon-search:before {
  content: "\e695";
}

.icon-share:before {
  content: "\e696";
}

.icon-select:before {
  content: "\e697";
}

.icon-setting:before {
  content: "\e698";
}

.icon-text:before {
  content: "\e699";
}

.icon-time:before {
  content: "\e69a";
}

.icon-toggle-left:before {
  content: "\e69b";
}

.icon-toggle-right:before {
  content: "\e69c";
}

.icon-unlock:before {
  content: "\e69d";
}

.icon-upload:before {
  content: "\e69e";
}

.icon-zoom-in:before {
  content: "\e69f";
}

.icon-zoom-out:before {
  content: "\e6a0";
}

.icon-add-bold:before {
  content: "\e6a1";
}

.icon-arrow-left-bold:before {
  content: "\e6a2";
}

.icon-arrow-up-bold:before {
  content: "\e6a3";
}

.icon-close-bold:before {
  content: "\e6a4";
}

.icon-arrow-down-bold:before {
  content: "\e6a5";
}

.icon-minus-bold:before {
  content: "\e6a6";
}

.icon-arrow-right-bold:before {
  content: "\e6a7";
}

.icon-select-bold:before {
  content: "\e6a8";
}

.icon-arrow-up-filling:before {
  content: "\e6a9";
}

.icon-arrow-down-filling:before {
  content: "\e6aa";
}

.icon-arrow-left-filling:before {
  content: "\e6ab";
}

.icon-arrow-right-filling:before {
  content: "\e6ac";
}

.icon-comment-filling:before {
  content: "\e6ad";
}

.icon-clock-filling:before {
  content: "\e6ae";
}

.icon-delete-filling:before {
  content: "\e6af";
}

.icon-user-filling:before {
  content: "\e6b0";
}

.icon-task-filling:before {
  content: "\e6b1";
}

.icon-success-filling:before {
  content: "\e6b2";
}

.icon-warning-filling:before {
  content: "\e6b3";
}

.icon-map-filling:before {
  content: "\e6b4";
}

.icon-prompt-filling:before {
  content: "\e6b5";
}

.icon-sorting:before {
  content: "\e6b6";
}

.icon-3column:before {
  content: "\e663";
}

.icon-add:before {
  content: "\e664";
}

.icon-add-circle:before {
  content: "\e665";
}

.icon-arrow-down:before {
  content: "\e666";
}

.icon-ashbin:before {
  content: "\e667";
}

.icon-arrow-right:before {
  content: "\e668";
}

.icon-browse:before {
  content: "\e669";
}

.icon-bottom:before {
  content: "\e66a";
}

.icon-back:before {
  content: "\e66b";
}

.icon-arrow-double-left:before {
  content: "\e66c";
}

.icon-arrow-double-right:before {
  content: "\e66d";
}

.icon-chart-bar:before {
  content: "\e66e";
}

.icon-code:before {
  content: "\e66f";
}

.icon-close:before {
  content: "\e670";
}

.icon-check-item:before {
  content: "\e671";
}

.icon-calendar:before {
  content: "\e672";
}

.icon-column-vertical:before {
  content: "\e673";
}

.icon-column-horizontal:before {
  content: "\e674";
}

.icon-chart-pie:before {
  content: "\e675";
}

